.login_title {
	margin: 20px 0px 10px 220px;
	color: #660033;
	font-size: 24px;
	font-weight: bold;
}

.create_account_title {
	margin: 40px 0px 10px 220px;
	color: #660033;
	font-size: 24px;
	font-weight: bold;
}

.login_text {
	float: left;
	margin: 10px 0px 0px 100px;
	width: 120px;
	color: white;	
}

.username_text {
	margin: 10px 0px 0px 100px;
	color: white;	
}

.login_text_input {	
	width: 300px;
}

.login_submit_button {
	margin: 10px 0px 0px 220px;	
}


